.fancy_green_link
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #8FD80F; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C4E08F', endColorstr='#8FD80F'); /* for IE */
    background: -webkit-gradient(linear, left, right, from(#C4E08F), to(#8FD80F)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #C4E08F,  #8FD80F); /* for firefox 3.6+ */
    border: none;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.fancy_green_link:hover
{
    text-decoration: none;
    color: #FFFFFF;
    background: #8FD80F; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8FD80F', endColorstr='#C4E08F'); /* for IE */
    background: -webkit-gradient(linear, left, right, from(#8FD80F), to(#C4E08F)); /* for webkit browsers */
    background: -moz-linear-gradient(left,  #8FD80F,  #C4E08F); /* for firefox 3.6+ */
}

.fancy_black_link
{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#FFFFFF'); /* for IE */
    background: -webkit-gradient(linear, right, left, from(#FFFFFF), to(##5F5F5F)); /* for webkit browsers */
    background: -moz-linear-gradient(right,  #FFFFFF,  #000000, #000000, #000000, #000000); /* for firefox 3.6+ */
    border: none;
    color: #FFFFFF;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.fancy_black_link:hover
{
    text-decoration: none;
    color: #FFFFFF;
    background: #999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#000000'); /* for IE */
    background: -webkit-gradient(linear, right, left, from(#5F5F5F), to(#FFFFFF)); /* for webkit browsers */
    background: -moz-linear-gradient(right,  #000000,  #FFFFF); /* for firefox 3.6+ */
}

.styled-input
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    /*background-color: #DAEBED;*/
    border:1px solid #CE9E62;
    height: 25px;
}

.styled-button
{
    margin-top: 5px;
    border:none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 150px;
    background-color: #BFBDBC;
    font-weight: bold;
    padding: 5px;
}


.action-link
{
    text-decoration:none;
    color: #975D33;
}

.action-link:hover
{
    text-decoration:underline;
    color: #975D33;
}
