.boldText{font-weight:bold}
.products{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;border:1px solid #999ea2}
#content{background-color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
